
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%; 
}

body {
    background-image: url('background.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: 'Arial', sans-serif; 
}

.nav-link {
    margin-left: 10px;
    color: #ffffff; 
    background-color: #007bff; 
    border-radius: 5px;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px; 
}

.profile {
    display: flex;
    align-items: center;
    justify-content: left; 
    margin-left: 50px; 
}

.profile-img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    margin-right: 30px; 
}

h1 {
    font-size: 36px;
    margin-top: 20px; 
}

.container {
    padding-top: 50px; 
}

.nav {
    position: absolute;
    right: 10px; 
    top: 10px; 
}

