/* Universal base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML and body to cover full height */
html, body {
    height: 100%; 
}

/* Body background image and font settings */
body {
    background-image: url('background.webp'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    font-family: 'Arial', sans-serif; 
}

/* Navbar link styles */
nav.navbar .nav-link {
    font-size: 10rem; /* Corrected property name */
    color: black;
}

/* Profile section styles */
.profile {
    display: flex;
    align-items: center;
    justify-content: left; 
    margin-left: 50px; 
}

.profile-img {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    margin-right: 30px; 
}

/* Header styles */
h1 {
    font-size: 36px;
    margin-top: 20px; 
}

/* Container padding */
.container {
    padding-top: 50px; 
}
